<!doctype html>
<html lang="en">
<head>

    @{
        ViewBag.Title = "Inicio";
        Layout = "~/Views/Layout/_LayoutNavbar.cshtml";
    }

    <title>Inicio Veamos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Css/Inicio.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.0.0.min.js"></script>


</head>
<body>

    <h3>Inicio</h3>


</body>
</html>

