* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    line-height: 18px;
}

a {
    text-decoration: none;
    color: #fff;
}

.contenedor-menu {
    min-width: 200px;
    margin: 100px 0px 0px 0px;
    line-height: 18px;
    display: inline-block;
}

    .contenedor-menu .menu {
        width: 100%;
    }

    .contenedor-menu ul {
        list-style: none;
    }

    .contenedor-menu .menu li a {
        color: #494949;
        display: block;
        padding: 15px 20px;
        background: #e9e9e9;
        border-bottom: 1px solid rgba(255,255,255,.5)
    }

        .contenedor-menu .menu li a:hover {
            background: #1a95d5;
            color: #fff;
            text-decoration: none;
        }

    .contenedor-menu .menu .icono {
        font-size: 13px;
        line-height: 18px;
    }

        .contenedor-menu .menu .icono.izquierda {
            float: left;
            margin-right: 8px;
        }

        .contenedor-menu .menu .icono.derecha {
            float: right;
            margin-left: 10px;
            font-size: 10px;
        }

    .contenedor-menu .menu ul {
        background: #424242;
        display: none;
    }

        .contenedor-menu .menu ul li a {
            background: #424242;
            color: #e9e9e9;
        }

    .contenedor-menu .menu .activado > a {
        background: #1a95d5;
        color: #fff;
    }
