<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Inmobiliaria</title>

    <link type="text/css" href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-3.0.0.min.js"></script>
    <link href="~/Css/Encabezado.css" rel="stylesheet" />
    <link href="~/Css/Estructura.css" rel="stylesheet" />
    <link href="~/Css/MenuLateral.css" rel="stylesheet" />
    <script src="~/Js/MenuLateral.js"></script>
    <link href="~/Css/Footer.css" rel="stylesheet" />


</head>
<body>

    <div class="container-fluid">

        <div id="1">
            <div id="header">
                <h1>Mi sitio</h1>
            </div>
        </div>

        <div id="2" style="float: left" >
            <div class="contenedor-menu">
                <ul class="menu">
                    <li><a href="/Inmueble/Inicio"><i class="icono izquierda fa fa-home"></i>Inicio</a></li>
                    <li>
                        <a href="#"><i class="icono izquierda fa fa-bookmark"></i>Alquiler<i class="icono derecha fa fa-chevron-down"></i></a>
                        <ul>
                            <li><a href="/Inmueble/AlquilerDepartamento">Departamento</a></li>
                            <li><a href="/Inmueble/AlquilerCasaDuplex">Casa/Duplex</a></li>
                            <li><a href="/Inmueble/AlquilerTipoCasa">Tipo Casa</a></li>
                            <li><a href="/Inmueble/AlquilerLocalGalpon">Local/Galpon</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icono izquierda fa fa-bookmark"></i>Venta<i class="icono derecha fa fa-chevron-down"></i></a>
                        <ul>
                            <li><a href="/Inmueble/VentaDepartamento">Departamento</a></li>
                            <li><a href="/Inmueble/VentaCasaDuplex">Casa/Duplex</a></li>
                            <li><a href="/Inmueble/VentaTipoCasa">Tipo Casa</a></li>
                            <li><a href="/Inmueble/VentaLocalGalpon">Local/Galpon</a></li>
                            <li><a href="/Inmueble/VentaLoteTerreno">Lote/Terreno</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="icono izquierda fa fa-edit"></i>Nuevo<i class="icono derecha fa fa-chevron-down"></i></a>
                        <ul>
                            <li><a href="/Inmueble/AgregarAlquiler">Alquiler</a></li>
                            <li><a href="/Inmueble/AgregarVenta">Venta</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div id="3">
             @RenderBody()
        </div>
          
        <div id="4">
            <div id="footer">
                <i class="fa fa-copyright" aria-hidden="true">Derechos de autos Team Inmobiliaria 2018 </i>
            </div>
        </div>

    </div>
    
</body>
</html>
